.info{
    flex: 1;
    padding-left: 10px;
    position: relative;
}
@media(max-width:850px){
    .info{
        margin-top: 50px;
        margin-right: 20px;
    }
}
.hover{
    transition: transform 0.3s;

}
.hover:hover{
    transform: scale(1.02);
}
