.layout{
    display: grid;
    grid-template-rows: 60px auto;
}
.main{
    display: flex;
    padding :50px;
}
@media(max-width:850px){
    .main{
        flex-direction: column;
    }
}
.desk_buttons{
    display: flex;
    flex-direction: column;
}