.n10{
    font-size: 25px;
    color: #FE7448;
    padding-right: 5px;
    font-weight: bold;
}

.shopping_cont2{
    height: 100%;
    position: relative;
}
.shopping2{
    position: absolute;
    right: 20px;
    top: 30px;
   
}
.shopping_a2{
    background-color:#FE7448;
    opacity: 0.2;
    padding : 19px 27px;
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: 18px;
}
.false_mark{
    position: absolute;
    right: 29px;
    top: 29px;
}
